<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I am a Java Software Developer</h4>
  </div>
  <div class="user-content">
    <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Teaching Assistant</h3>
              <div class="subheading mb-3">Southern Methodist University</div>
              <p>• Discrete Computer Structures, Digital Computer Design, Computer Architecture.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2018 - May 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Data Engineer Intern</h3>
              <div class="subheading mb-3">Big Data Institute, Shenzhen University, China </div>
              <p>• Implemented a new high-dimensional data clustering algorithm using R.<br> • Co-published a research paper for the fifth China Computer Federation Conference on Big Data (CCF Big Data 2017).</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2017 - August 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">R &amp; D Engineer Intern</h3>
              <div class="subheading mb-3">Optical Valley Medical Science and Technology (Wuhan) Co., Ltd., China</div>
              <p>• Developed a project of Electronic Medical Record Systems.<br>
              • Was responsible for the development of the front end and the interaction between the front end and back end use ASP.Net and MVC architecture.<br>
              • Conducted practical survey to understand the hospital’s requirements and correspondingly improved the system design.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2014 - October 2014</span>
            </div>
          </div>
        </div>
  </div>
</div>